#footer{
		background-color: $color_canditato;
		padding: 20px 0 95px;
		.widget__title{
			text-align: center;
			font: bold 20px $font_title;
		}
	}
.footer__rede{
	>.container__social{
		display: flex;
		justify-content: center

	}
}
			.box_footer{
				text-align: center;
				width: 15%;
				height: 40px;
				background-color: #fff;
				border-radius: 5px 5px 5px 5px;
				-moz-border-radius: 5px 5px 5px 5px;
				-webkit-border-radius: 5px 5px 5px 5px;
				border: 1px solid #fff;
				-webkit-box-shadow: 5px 50px 5px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
				box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
				margin-left: 5px;


				> i {
					text-decoration: none;
					color: black;
					font-size: 20px;
					margin-top: 10px;

				}	

		}

			.box_footer:hover{
					background-color: $color_canditato;
					border: 1px solid #000;
					
				}

