#header {
    background-color: #D7CCC8;
        button{
           
            i{
                margin: 5px 10px 10px 0px;
                font-size: 30px;
            }
        }
        .collapse{
            ul{

                li{
                
                
                    a{
                        font: 15px $font_main;
                        font-weight: 700;
                        color: black;   
                        
                    }
                }
            }
        }
    header{
    }
  
}
