#nav {

    .navbar-header{
        .navbar-nav{
            margin: 0 auto;
        }
            ul{
                display: flex;
                justify-content: center;
                li{
                
                
                    a{
                        font: 15px $font_main;
                        font-weight: 20px;
                        color: #000;
                        }
                } 
            }
        }
        .navbar-left{
            display: flex;
            justify-content: center;
            img{
                margin-top: 10px;
                width: 200px;
                height: 30px;
            }
            
        }
    }